.about{
  width: 80%;
  
}

.frame{
  overflow: hidden;
  overflow-x: hidden;
  
}

.moving-img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  z-index: 30;
  
  img{
    width: 115%;
    margin-left: -20px;
  }
}

.moving-img2{
  width: 32%;
  max-width: 670px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  z-index: 30;
  margin-top: -34%;
  margin-left: -22%;
  
}
