.about{
  
  
}

.moving-img{
  
  
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  
  z-index: 30;
  
  
}

.moving-img2{
  width: 35%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  z-index: 30;
  margin-top: -40%;
  margin-left: -20%;
  
}
