@font-face {
  font-family: 'General Sans';
  src: url('../fonts/Gen.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans Italic';
  src: url('../fonts/GenItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  
}

html {
  transition: 2s ease;
  width: 100vw;
  overflow-x: hidden;
}

:root {
  font-family: Bricolage Grotesque;
  font-weight: 400;

  color: var(--charcoal);
  background-color: var(--pearl);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* light mode color */
  --grey: #dfe0df;
  --beige: #e4ddd6;
  --green: #4b878a;
  --scrollbar-thumb-color: var(--purple); /* Default to green */
  --scrollbar-thumb-color2: var(--green); /* Default to green */

  /* Dark mode color */
  --pearl: #e5e5e5;
  --purple: #887caf;
  --charcoal: #1d1d1d;

  --test: #aaaaaa;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    transition: 500ms;
    background: var(--scrollbar-thumb-color);
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
  }
}

.flex-h {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 40px 0;
  font-family: Bricolage Grotesque;
  font-weight: 200;
}

h1 {
  font-size: clamp(2rem, 10vw, 8rem);
}
h2 {
  font-size: clamp(1.8rem, 3vw, 3rem);
}
h3 {
  font-size: clamp(1.5rem, 3vw, 2.4rem);
}
h4 {
  font-size: clamp(1.4rem, 3vw, 1.9rem);
}

p, .p1, .p2, .p3, .p4{
  letter-spacing: .1rem;
  font-weight: 200;
}

.p1 {
  font-size: clamp(1rem, 3vw, 1.9rem);
}
.p2 {
  font-size: clamp(0.7rem, 3vw, 1.7rem);
}
.p3 {
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}
.p4 {
  font-size: clamp(0.4rem, 3vw, 1.2rem);
}

button {
  transition: 500ms;
  margin: 0 10px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  
  color: var(--charcoal);

  &:hover {
    background-color: var(--charcoal);
    border: 1px solid var(--pearl);
    color: var(--pearl);
  }
}
