.projects{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90vw;
  
}

.accordion{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}





.project{
  position: relative;
  cursor: pointer;
  transition: 2s;
  background-color: rgb(255, 255, 255, 0);
  height: 75vh;
  width: 6%;
  border-radius: 50px;
  transform-origin: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  overflow: hidden;

  p{
    position: absolute;
    top: -60px;
    left: 10px;
    color: white;
    
    font-size: 70px;
  }

  img{
    opacity: 0;
  }
}

.hovered{
  transition: 2s;
  width:82%;

  img{
    opacity: 1;
  }
}

.picked{
  transform-origin: bottom;
  
  transition:all 2s, background-color 500ms ;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: white;
  background-image: none;
  z-index: 100;
}

img{
  object-fit: contain;
  width: 80%;
  transition: 2s;
  transform: translateY(5%);
  
}



