.about {
  width: 80%;

  .snow {
    width: 75%;
  }
}

.frame {
  width: 80vw;
  scale: 0.6;
  overflow: hidden;
  position: relative;
  
}

.text-about {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 40%;
  display: flex;
  text-align: end;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: clamp(30px, 30%, 50px);

  .icon {
    transition: 400ms;
    width: clamp(20px, 90%, 30px);
    border-radius: 4px;
  }
}

.moving-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2em;
  z-index: 30;

  img {
    width: 115%;
    margin-left: -20px;
  }
}

.moving-img2 {
  width: 32%;
  max-width: 670px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  z-index: 30;
  margin-top: -34%;
  margin-left: -22%;
}

@media (max-width: 1100px) {
  .frame {
    width: 100vw;
    scale: 1;
  }
  .moving-img {
    width: 100vw;
  }
  .moving-img2 {
    width: 50%;
    margin-top: -54%;
    margin-left: -40%;
  }

  .text-about {
    top: 10px;
    right: 20px;
    width: 55.2%;

    padding: 10px;

    h3 {
      margin: 0;
    }
  }
}
