.about{
  width: 80%;
  .snow{
    width: 75%;
  }
}

.frame{
  width: 90%;
  overflow: hidden;
  position: relative;

  
}

.text-about{
  position: absolute;
  top: 8%;
  right:8%;
  width: 40%;
  text-align: end;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);

  
  
}

.moving-img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  z-index: 30;
  
  img{
    width: 115%;
    margin-left: -20px;
  }
}

.moving-img2{
  width: 32%;
  max-width: 670px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  z-index: 30;
  margin-top: -34%;
  margin-left: -22%;
  
}

@media (max-width:1100px) {

  .frame{
    width: 100vw;
  }
  .moving-img2{
    width: 50%;
    margin-top: -54%;
  margin-left: -40%;
  }
  
}
