


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 90vh;
  margin-bottom: 200px;
  
}

.line{
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 1;
}


.name, .job{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 20px;
}


.job{
  position: relative;
  background: linear-gradient(135deg, #4b878a, #1e2d29 33%, #000000 50%, #231e2d 67%, #887caf);
  transition: 1s;
  height: 10%;

  h1{
    color: white;
    mix-blend-mode: difference;
  }
}


.blob{
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 20px;
  right: 20px;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.phone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  width: 90%;
  margin-bottom: 100px;
  .name , .job{
    gap: 20px;
    padding: 10px;
  }

  .job{
    position: relative;
    height: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .job > :nth-child(1) {
    position: absolute;
    top: 40px;
    left: 40px;
}
.job > :nth-child(2) {
  position: absolute;
    bottom: 40px;
    right: 40px;
}

  h1{
    margin: 0;
  }
}

