


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90vh;
  margin-bottom: 200px;

  button{
    position: absolute;
    top: 100px;
    right: 100px;

  }
  
}

.line{
  width: 100%;
  height: 2px;
  background-color: black;
  
  opacity: 1;
}

.name, .job{
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 20px;
}



.job{
  width: 0%;
  background: linear-gradient(135deg, #4b878a, #1e2d29 33%, #000000 50%, #231e2d 67%, #887caf);
  transition: 1s;
  height: 10%;

  h1{
    color: white;
    mix-blend-mode: difference;
  }
}


.phone{
  height: 90vh;
  margin-bottom: 100px;
  .name , .job{
    gap: 20px;
    padding: 10px;
  }

  .job{
    height: 30%;
  }
}

