

h2 {
  width: 90%;
  text-align: left;
  transform: translateY(-20px);
}


.tech-subtitle {
  margin-right: 30px;
}

.techstack {
  width: 80vw;
  position: relative;
  margin-bottom: 5vw;
}

.tech-items {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(18px, 3.4vw, 100px);
}

.tech-items p {
  margin: 6px 4px;
  animation: wave 6s infinite;
}

.tech-icon {
  width: clamp(30px, 3.4vw, 50px);
}

.tech-hr {
  opacity: 0;
  width: 0%;
  margin: 0 3px;
  transform: translateY(-24px);

}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

.toolbox {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
}

.width {
  position: absolute;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.height {
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
