h2{
  width: 90vw;
  text-align: left;
}

.techstack {
  width: 84vw;
  
  position: relative;
}

.tech-items {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(20px, 5vw, 68px);
}

.tech-items p {
  margin: 10px 5px;
  animation: wave 6s infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

.toolbox {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.width {
  position: absolute;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.height {
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
