header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 1vw;
  z-index: 10;
  width: 90%;
  opacity: 1;
}

.logo {
  img{
    width: 120px;
  }
}

  

ul {
  all: unset;
  list-style-type: none; /* remove bullet points */
  display: flex;
}

li {
  padding: 0 20px;
  
  transition: 400ms;
  cursor: pointer;

  p{
    width: 100%;
    font-weight: 400;
  }
}

li:hover {
  transform: scale(1.1);
  p{
    font-weight: 700;
  }
}

.menu-toggle {
  display: none; /* Hidden by default */
  background: none;
  border: none;
  font-size: 2rem;
  
}

@media (max-width: 768px) {
  header{
    display: none;
  }
}